body {
    font-family: Courier New;
    background-color: rgb(69, 107, 47);
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: rgb(38, 55, 150);
    background-color: rgb(57, 184, 53);
    padding: 10px;
  }